<html ng-app="listaTelefonica">
  <head>
    <title>Lista Telefonica</title>
    
    <script src='/iface-profile/js/angular/angular.js'></script>
    <link rel="stylesheet" type="text/css" href="/iface-profile/css/bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
		
		.table {
			margin-top: 20px;
		}
		
		.form-control {
			margin-top: 5px;
		}
		
		.selecionado {
			background-color: yellow;
		}
		
		.negrito {
			font-weight: bold;
		}
	</style>
	<script>
		angular.module("listaTelefonica", []);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefonica";
			$scope.contatos = [
            	{nome: "Pedro", telefone: "99998888", cor: "blue"},
            	{nome: "Ana", telefone: "98888999", cor: "yellow"},
            	{nome: "Carlos", telefone: "99949888", cor: "red"}
            ];
			$scope.operadoras = [ 
		    	{nome:"Oi", codigo: 88, categoria: "Celular"},
		    	{nome:"Vivo", codigo: 94, categoria: "Celular"},
		    	{nome:"Tim", codigo: 99, categoria: "Celular"},
		    	{nome:"Claro", codigo: 91, categoria: "Celular"},
		    	{nome:"GVT", codigo: 25, categoria: "Fixo"},
		    	{nome:"Embratel", codigo: 21, categoria: "Fixo"}
		    ];
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato){
					if (!contato.selecionado) return contato;
				});
				
			};
			
			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			}
		});
	</script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
    	<h3>{{app}}</h3>
    	<table class="table table-striped" ng-show="contatos.length > 0">
    		<tr>
    			<th></th>
    			<th>Nome</th>
    			<th>Telefone</th>
    			<th>Operadora</th>
    			<th></th>
    		</tr>
    		<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
    			<td><input type="checkbox" ng-model="contato.selecionado"/></td>
    			<td>{{contato.nome}}</td>
    			<td>{{contato.telefone}}</td>
    			<td>{{contato.operadora.nome}}</td>
    			<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
    		</tr>
    	</table>
    	<hr/>
    	<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
    	<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>
    	<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
    		<option value="">Selecione uma operadora</option>
    	</select>
    	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
    	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)" >Apagar Contatos</button>
    </div>
    <div ng-include="'footer.html'"></div>
  </body>

</html>
