
# Created by https://www.gitignore.io/api/eclipse,java,maven

### Hibernate configuration file ###
iface-profile/src/main/resources/hibernate-config.xml

### Eclipse ###

iface-profile/.metadata
iface-profile/bin/
iface-profile/tmp/
iface-profile/*.tmp
iface-profile/*.bak
iface-profile/*.swp
iface-profile/*~.nib
iface-profile/local.properties
iface-profile/.settings/
iface-profile/.loadpath
iface-profile/.recommenders

# Eclipse Core
iface-profile/.project

# External tool builders
iface-profile/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
iface-profile/*.launch

# PyDev specific (Python IDE for Eclipse)
iface-profile/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
iface-profile/.cproject

# JDT-specific (Eclipse Java Development Tools)
iface-profile/.classpath

# Java annotation processor (APT)
iface-profile/.factorypath

# PDT-specific (PHP Development Tools)
iface-profile/.buildpath

# sbteclipse plugin
iface-profile/.target

# Tern plugin
iface-profile/.tern-project

# TeXlipse plugin
iface-profile/.texlipse

# STS (Spring Tool Suite)
iface-profile/.springBeans

# Code Recommenders
iface-profile/.recommenders/


### Maven ###
iface-profile/target/
iface-profile/pom.xml.tag
iface-profile/pom.xml.releaseBackup
iface-profile/pom.xml.versionsBackup
iface-profile/pom.xml.next
iface-profile/release.properties
iface-profile/dependency-reduced-pom.xml
iface-profile/buildNumber.properties
iface-profile/.mvn/timing.properties


### Java ###
iface-profile/*.class

# Mobile Tools for Java (J2ME)
iface-profile/.mtj.tmp/

# Package Files #
iface-profile/*.jar
iface-profile/*.war
iface-profile/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
iface-profile/hs_err_pid*