<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>

<div class="containerNProfile">
	<div class="signup-screen">
		<div class="space-bot text-center">
			<h1 class="nprofileTitle">Editar perfil</h1>
			<div class="divider"></div>
		</div>
		<form name="register">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<div>
								<div class="file-field input-field">
									<div class="btn">
										<span>Upload</span> <input type="file"
											ng-change="saveTempImage(profilePreview)" accept='image/*'
											preview-class="img-thumbnail"
											preview-container="imgPerfilPreview"
											ng-model="profilePreview" title="Alterar imagem" media-preview>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text" ng-model="picture">
									</div>
								</div>
							</div>
						</div>
						<div class="input-field col s6">
							<div class="row">
								<div class="text-center" id="imgPerfilPreview">
									<img id="imagePreview" ng-src="{{userProfile.picture}}"
										alt="Profile Picture" style="width: 128px; height: 128px;">
								</div>
							</div>
						</div>
						<button ng-show="urlImageProfile && urlImageProfile.length > 0"
							class="waves-effect waves-light btn"
							style="margin-right: 20px; float: right"
							ng-click="launchEditor()">Editar Imagem</button>
					</div>

					<label>Geral</label>
					<div class="divider"></div>
					<div style="padding: 10px"></div>
					<div class="row">
						<div class="input-field col s6">
							<input name="name" id="first_name" type="text"
								ng-model="userProfile.name" ng-required="true" ng-minlength='2'
								class="validate" required> <label for="first_name" ng-class="{ 'active' : userProfile.name }">
								Nome</label>
						</div>
						<div class="input-field col s6">
							<input name="lastname" id="last_name" type="text"
								class="validate" ng-model="userProfile.lastname"
								ng-required="true" ng-minlength="2"> <label
								for="last_name" ng-class="{ 'active' : userProfile.lastname }">Sobrenome</label>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s6">
							<select id="selectGender" ng-model="userProfile.userRelationship.myCivilStatus" 
							ng-options="civilStatus.name for civilStatus in civilStatusByGender track by civilStatus.id">
							</select><label for="civilStatus"> Estado Civil</label>
						</div>
						<div class="input-field col s6">
							<input name="hometown" id="hometown" type="text" class="validate" 
							ng-model="userProfile.homeTown.name">
							<label for="last_name" ng-class="{ 'active' : userProfile.homeTown.name }">Cidade Atual</label>
						</div>
					</div>
					<label>Fam&iacutelia e Relacionamentos</label>
					<div class="divider"></div>
					<div style="padding: 10px"></div>
					<div class="row">
						<div class="input-field col s6">

						<angucomplete-alt id="teste"
						  placeholder="Nome"
              			  pause="10"
			              selected-object="teste"
			              remote-url="/iface-profile/service/user_profile/user/name/"
			              remote-url-data-field=""
			              title-field="name,lastname"
			              description-field=""
			              image-field="picture"
			              input-class="form-control form-control-small"
			              minlength="1"
					      match-class="highlight"/>
						
						</div>
						<div class="input-field col s6">
							<select ng-model="relationship.relationshipType.receiverDegreeOfKinship" 
							ng-options="degreeOfKinship1.degreeOfKinship for degreeOfKinship1 in degreeOfKinshipByGender | orderBy:'degreeOfKinship'">
							</select><label>Grau de parentesco</label>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right">
						<i class="material-icons">plus_one</i>
					</button>
				</div>
				
				<label>Acad&ecircmico</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row" ng-repeat="userAcademicProfile in userAcademicProfiles">
					<div class="input-field col s4">
						<input id="educationalInstitution" type="text" class="validate" 
						ng-model="userAcademicProfile.educationalInstitution.name"> <label
							for="educationalInstitution" ng-class="{ 'active' : userAcademicProfile.educationalInstitution.name }">Instituição de ensino</label>
					</div>
					<div class="input-field col s4">
						<input id="course" type="text" class="validate" ng-model="userAcademicProfile.course"> <label
							for="course" ng-class="{ 'active' : userAcademicProfile.course }">Curso</label>
					</div>
					<div class="input-field col s4">
						<input name="startingdate" type="text" id="startingdate"
							class="validate" ui-date ng-model="userAcademicProfile.dateStart"> <label for="startingdate" 
							ng-class="{ 'active' : userAcademicProfile.dateStart }">Data
							de in&iacutecio</label>
					</div>
					<div class="input-field col s4">
						<input name="finishingdate" type="text" id="finishingdate"
							class="validate" ui-date ng-model="userAcademicProfile.dateEnd"> <label for="finishingdate" 
							ng-class="{ 'active' : userAcademicProfile.dateEnd }">Data
							de t&eacutermino</label>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right" 
					ng-click="newUserAcademicProfile()">
						<i class="material-icons">plus_one</i>
					</button>
				</div>
				
				<label>Profissional</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row" ng-repeat="userProfessionalProfile in userProfessionalProfiles">
					<div class="input-field col s4">
						<input id="workplace" type="text" class="validate" ng-model="userProfessionalProfile.workplace.name"> <label
							for="workplace" ng-class="{ 'active' : userProfessionalProfile.workplace.name }">Local de trabalho</label>
					</div>
					<div class="input-field col s4">
						<input id="office" type="text" class="validate" ng-model="userProfessionalProfile.office"> <label
							for="office" ng-class="{ 'active' : userProfessionalProfile.office }">Cargo</label>
					</div>
					<div class="input-field col s4">
						<input name="startingdate" type="text" id="startingdate"
							class="validate" ui-date ng-model="userProfessionalProfile.dateStart"> <label for="startingdate" 
							ng-class="{ 'active' : userProfessionalProfile.dateStart }">Data
							de in&iacutecio</label>
					</div>
					<div class="input-field col s4">
						<input name="finishingdate" type="text" id="finishingdate"
							class="validate" ui-date ng-model="userProfessionalProfile.dateEnd"> <label for="finishingdate" 
							ng-class="{ 'active' : userProfessionalProfile.dateEnd }">Data
							de t&eacutermino</label>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right" 
					ng-click="newUserProfessionalProfile()">
						<i class="material-icons">plus_one</i>
					</button>
				</div>

				<button ng-disabled="register.$invalid"
					class="waves-effect waves-light btn done"
					ng-click="editProfile(userProfile, urlImageProfile)">
					<i class="material-icons left">done</i> Done
				</button>
				<button type="button" class="waves-effect waves-light btn cancel">
					<i class="material-icons left">clear</i>Cancel
				</button>
		</form>
	</div>
</div>


