<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>

<div class="containerNProfile">
	<div class="signup-screen">
		<div class="space-bot text-center">
			<h1 class="nprofileTitle">Editar perfil</h1>
			<div class="divider"></div>
		</div>
		<form name="register">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<div>
								<div class="file-field input-field">
									<div class="btn">
										<span>Upload</span> <input type="file"
											ng-change="saveTempImage(profilePreview)" accept='image/*'
											preview-class="img-thumbnail"
											preview-container="imgPerfilPreview"
											ng-model="profilePreview" media-preview>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="input-field col s6">
							<div class="row">
								<div class="text-center" id="imgPerfilPreview">
									<img src="http://api.androidhive.info/images/ic_profile.png"
										alt="Profile Picture" style="width: 128px; height: 128px;">
								</div>
							</div>
						</div>
						<button ng-show="urlImageProfile && urlImageProfile.length > 0"
							class="waves-effect waves-light btn"
							style="margin-right: 20px; float: right"
							ng-click="launchEditor('imageProfile', 1)">Editar Imagem</button>
					</div>

					<label>Geral</label>
					<div class="divider"></div>
					<div style="padding: 10px"></div>
					<div class="row">
						<div class="input-field col s6">
							<input name="name" id="first_name" type="text"
								ng-model="userProfile.name" ng-required="true" ng-minlength='2'
								class="validate" required> <label for="first_name">
								Nome</label>
						</div>
						<div class="input-field col s6">
							<input name="lastname" id="last_name" type="text"
								class="validate" ng-model="userProfile.lastname"
								ng-required="true" ng-minlength="2"> <label
								for="last_name">Sobrenome</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<select>
								<option value="" disabled selected></option>
								<option value="1">Solteiro</option>
								<option value="2">Namorando</option>
								<option value="3">Noivo</option>
								<option value="4">Casado</option>
								<option value="5">Vi&uacutevo</option>
							</select><label for="civilStatus"> Estado Civil</label>
						</div>
						<div class="input-field col s6">
							<input name="hometown" id="hometown" type="text" class="validate">
							<label for="last_name">Cidade Atual</label>
						</div>
					</div>
					<label>Fam&iacutelia e Relacionamentos</label>
					<div class="divider"></div>
					<div style="padding: 10px"></div>
					<div class="row">
						<div class="input-field col s6">
							<input name="hometown" id="hometown" type="text" class="validate">
							<label for="last_name">Nome</label>
						</div>
						<div class="input-field col s6">
							<select>
								<option value="" disabled selected></option>
								<option value="1">Pai</option>
								<option value="2">Filho</option>
								<option value="3">Irm&atildeo</option>
								<option value="4">Tio</option>
								<option value="5">Sobrinho</option>
								<option value="6">Primo</option>
								<option value="7">Av&ocirc</option>
								<option value="8">Neto</option>
								<option value="9">Padrasto</option>
								<option value="10">Enteado</option>
								<option value="11">Cunhado</option>
								<option value="12">Sogro</option>
								<option value="13">Genro</option>
								<option value="14">Namorado</option>
								<option value="15">Noivo</option>
								<option value="16">Marido</option>
							</select><label>Grau de parentesco</label>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right">
						<i class="material-icons">plus_one</i>
					</button>
				</div>

				<label>Acad&ecircmico</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row">
					<div class="input-field col s4">
						<input id="school" type="text" class="validate"> <label
							for="school">Local</label>
					</div>
					<div class="input-field col s4">
						<input name="startingdate" type="text" id="startingdate"
							class="validate" ui-date> <label for="startingdate">Data
							de in&iacutecio</label>
					</div>
					<div class="input-field col s4">
						<input name="finishingdate" type="text" id="finishingdate"
							class="validate" ui-date> <label for="finishingdate">Data
							de t&eacutermino</label>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right">
						<i class="material-icons">plus_one</i>
					</button>
				</div>

				<label>Profissional</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row">
					<div class="input-field col s4">
						<input id="workplace" type="text" class="validate"> <label
							for="workplace">Local</label>
					</div>
					<div class="input-field col s4">
						<input name="startingdate" type="text" id="startingdate"
							class="validate" ui-date> <label for="startingdate">Data
							de in&iacutecio</label>
					</div>
					<div class="input-field col s4">
						<input name="finishingdate" type="text" id="finishingdate"
							class="validate" ui-date> <label for="finishingdate">Data
							de t&eacutermino</label>
					</div>
				</div>
				<div class="row">
					<button type="button" class="waves-effect waves-light btn" style = "float:right">
						<i class="material-icons">plus_one</i>
					</button>
				</div>

				<button ng-disabled="register.$invalid"
					class="waves-effect waves-light btn done"
					ng-click="newProfile(userProfile, urlImageProfile)">
					<i class="material-icons left">done</i> Done
				</button>
				<button type="button" class="waves-effect waves-light btn cancel">
					<i class="material-icons left">clear</i>Cancel
				</button>
		</form>
	</div>
</div>


