<div class="container">
	<div class="signup-screen">
		<div class="space-bot text-center">
			<h1>Cadastro</h1>
			<div class="divider"></div>
		</div>
		<form name ="register">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<div action="#">
								<div class="file-field input-field">
									<div class="btn">
										<span>Upload</span> <input type="file" multiple
											accept='image/*'>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="input-field col s6">
							<div class = "text-center">
								<img src="http://api.androidhive.info/images/ic_profile.png"
									alt="Profile Picture" style="width: 128px; height: 128px;">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">account_circle</i> <input
								name="name" id="first_name" type="text"
								ng-model="UserProfile.name" ng-required="true" ng-minlength='2'
								class="validate" required> <label for="first_name">
								First Name</label>
							<div ng-messages="register.name.$error"
								class="alert alert-danger"
								ng-show="register.name.$invalid && register.name.$dirty">
								<div ng-message="required">Por favor, preencha o campo
									nome.</div>
								<div ng-message="minlength">O nome deve ter pelo menos 2
									caracteres.</div>
							</div>
						</div>
						<div class="input-field col s6">
							<input name="lastname" id="last_name" type="text"
								class="validate" ng-model="UserProfile.lastname"
								ng-required="true" ng-minlength="2"> <label
								for="last_name" class="active">Last Name</label>
							<div ng-messages="register.lastname.$error"
								class="alert alert-danger"
								ng-show="register.lastname.$invalid && register.lastname.$dirty">
								<div ng-message="required">Por favor, preencha o campo
									sobrenome.</div>
								<div ng-message="minlength">O sobrenome deve ter pelo
									menos 2 caracteres.</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="material-icons prefix">date_range</i> <input
								name="birthdate" placeholder = "dd/mm/aaaa" type="text" id="birth_date" class="validate"
								ng-model="UserProfile.birthDate" ng-required="true" ui-date> <label
								for="birth_date">Birthdate</label>
						</div>
						<div class="input-field col s6">
							<label for="options" style="margin-top: -10px">Gender</label>
							
								<p>
							
									<input name="options" type="radio" id="gender1"
										class="with-gap" ng-model="UserProfile.gender.id"
										value='1' ng-required="!UserProfile.gender.id"><label for="gender1" >Male</label>
									<input name="options" type="radio" id="gender2"
										class="with-gap" ng-model="UserProfile.gender.id"
										value='2' ng-required="!UserProfile.gender.id"><label for="gender2" >Female</label>
								</p>
							
						</div>
					</div>
					<div class="row">
						
						<div class="input-field col s6">
							<i class="material-icons prefix">phone</i> <input
								name="celphone" type="text" id="celphone" class="validate"
								ng-model="userContact.contact" ng-required="true" ui-phone> <label
								for="celphone">Mobile Phone</label>
						</div>
					
						<div class="input-field col s6">
							<i class="material-icons prefix">home</i> <input
								name="home_town" type="text" id="home_town" class="validate"
								ng-model="UserProfile.homeTown.name" ng-required = "true"> <label
								for="home_town">Birth Place</label>
						</div>
					</div>
				</div>
			</div>
			
			{{UserProfile}}
			

			<button ng-disabled="register.$invalid"
				class="waves-effect waves-light btn done" ng-click = "newProfile(UserProfile)">
				<i class="material-icons left">done</i> Done
			</button>
			<button type="button" class="waves-effect waves-light btn cancel">
				<i class="material-icons left">clear</i>Cancel
			</button>
		</form>
	</div>
</div>


