<html ng-app="iFace">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>iFace - Cadastro</title>

<script src='/iface-profile/app/lib/angular/angular.js'></script>
<script src='/iface-profile/app/lib/angular/angular-locale_pt-br.js'></script>
<script src='/iface-profile/app/lib/angular/angular-messages.js'></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src = '/iface-profile/app/js/app.js'></script>
<script src = '/iface-profile/app/js/controllers/newProfileCtrl.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='/iface-profile/app/css/new_profile.css' rel="stylesheet">

</head>
<body ng-controller="newProfileCtrl">
	<div class="container">
		<div class="signup-screen">
			<div class="space-bot text-center">
				<h1>Cadastro</h1>
				<div class="divider"></div>
			</div>
			<form name ="register">
				<div class="row">
					<div class="col s12">
						<div class="row">
							<div class="input-field col s6">
								<div action="#">
									<div class="file-field input-field">
										<div class="btn">
											<span>Upload</span> <input type="file" multiple
												accept='image/*'>
										</div>
										<div class="file-path-wrapper">
											<input class="file-path validate" type="text">
										</div>
									</div>
								</div>
							</div>
							<div class="input-field col s6">
								<center>
									<img src="http://api.androidhive.info/images/ic_profile.png"
										alt="Profile Picture" style="width: 128px; height: 128px;">
								</center>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix">account_circle</i> <input
									name="name" id="first_name" type="text"
									ng-model="UserProfile.name" ng-required="true" ng-minlength='2'
									class="validate" required> <label for="first_name">
									Nome</label>
								<div ng-messages="register.name.$error"
									class="alert alert-danger"
									ng-show="register.name.$invalid && register.name.$dirty">
									<div ng-message="required">Por favor, preencha o campo
										nome.</div>
									<div ng-message="minlength">O nome deve ter pelo menos 2
										caracteres.</div>
								</div>
							</div>
							<div class="input-field col s6">
								<input name="lastname" id="last_name" type="text"
									class="validate" ng-model="UserProfile.lastname"
									ng-required="true" ng-minlength="2"> <label
									for="last_name" class="active">Sobrenome</label>
								<div ng-messages="register.lastname.$error"
									class="alert alert-danger"
									ng-show="register.lastname.$invalid && register.lastname.$dirty">
									<div ng-message="required">Por favor, preencha o campo
										sobrenome.</div>
									<div ng-message="minlength">O sobrenome deve ter pelo
										menos 2 caracteres.</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix">date_range</i> <input
									name="birthdate" type="text" id="birth_date" class="validate"
									ng-model="UserProfile.birthDate" ng-required="true"> <label
									for="birth_date">Data de nascimento</label>
							</div>
							<div class="input-field col s6">
								<label for="formOptions">Gênero</label>
								<form action="" id="formOptions">
									<p>
										<input name="options" type="radio" id="gender1"
											class="with-gap" ng-model="UserProfile.gender"
											value="masculino"><label for="gender1">Masculino</label>
										<input name="options" type="radio" id="gender2"
											class="with-gap" ng-model="UserProfile.gender"
											value="feminino"><label for="gender2">Feminino</label>
									</p>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<i class="material-icons prefix">phone</i> <input
									name="celphone" type="text" id="celphone" class="validate"
									ng-model="UserProfile.userContacts.contact" ng-required="true" ui-phone> <label
									for="celphone">Celular</label>
							</div>
							<div class="input-field col s6">
								
							</div>
						</div>
					</div>
				</div>

				<button ng-disabled="form-register.$invalid"
					class="waves-effect waves-light btn done">
					<i class="material-icons left">done</i> Done
				</button>
				<button type="button" class="waves-effect waves-light btn cancel">
					<i class="material-icons left">clear</i>Cancel
				</button>
			</form>
		</div>
	</div>
</body>
</html>
