<html ng-app="iFace">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cadastre-se</title>

<script src='/iface-profile/app/lib/angular/angular.js'></script>
<script src='/iface-profile/app/lib/angular/angular-locale_pt-br.js'></script>
<script src='/iface-profile/app/lib/angular/angular-messages.js'></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src='/iface-profile/app/js/app.js'></script>
<script src='/iface-profile/app/js/controllers/newUserCtrl.js'></script>
<script src='/iface-profile/app/js/value/configValue.js'></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href='/iface-profile/app/css/new_user.css' rel="stylesheet">

</head>
<body ng-controller="newUserCtrl">
	<div class="container">
		<div class="signup-screen">
			<div class="text-center">
				<h1>Cadastre-se</h1>
				<div class="divider"></div>
			</div>
			<form name="register">
				<div class="input-field">
					<i class="material-icons prefix">account_circle</i> <input
						name="username" id="username" class="validate" type="text">
					<label for="username" class="active">nome de usuário</label>
				</div>
				<div class="input-field">
					<i class="material-icons prefix">locked</i> <input name="password"
						id="password" class="validate" type="password"> <label
						for="password" class="active">senha</label>
				</div>
				<div class="input-field">
					<input name="password2" id="password2" class="validate"
						type="password" ng-hide = "true"> <label for="password2" class="active" ng-hide = "true">confirme
						sua senha</label>
				</div>
				<div class="input-field">
					<i class="material-icons prefix">email</i> <input name="email"
						id="email" class="validate" type="email"> <label
						for="email" class="active">e-mail</label>
				</div>
				<div class="input-field">
					<input name="email2" id="email2" class="validate" type="email" ng-hide = "true">
					<label for="email2" class="active" ng-hide = "true">confirme seu e-mail</label>
				</div>
				<div class="row center-align">
					<button ng-disabled="form-register.$invalid"
						class="waves-effect waves-light btn done">
						<i class="material-icons left">done</i>Concluído
					</button>
					<button type="button" class="waves-effect waves-light btn cancel">
						<i class="material-icons left">clear</i>Cancelar
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>

