<script>
	$(document).ready(function() {
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>

<div class="navbar-fixed">
	<nav>
		<a href="#" class="brand-logo" style="padding-left: 15px">iFace</a>
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="right hide-on-med-and-down">

				<li><a>Sair</a></li>
			</ul>
		</div>
	</nav>
</div>
<div class="containerProfile">
	<div class="profile-screen">
		<angucomplete-alt id="amigos" placeholder="Buscar Usuário" pause="10"
			selected-object="amigoProcurado"
			remote-url="/iface-profile/service/user_profile/user/name/"
			remote-url-data-field="" title-field="name,lastname"
			description-field="" image-field="picture"
			input-class="form-control form-control-small" minlength="1"
			match-class="highlight" />
		<div class="col s12">
			<div class="row">
				<img ng-src="{{userProfile.picture}}" alt="Profile Picture"
					style="width: 160px; height: 160px;">
				<h1 class="profileTitle">{{userProfile.name+"
					"+userProfile.lastname}}</h1>

				<button class="waves-effect waves-light btn"
					ng-click="openEditProfile()"
					ng-show="userProfile.id == currentUser.id"
					style="float: right; margin-left: 10px">Editar Perfil</button>

				<a class="waves-effect waves-light btn modal-trigger"
					ng-click="getFriendshipRequests()" href="#modal1"
					ng-show="!isMyPerfil() " style="float: right;">Solicita&ccedil&otildees
					Pendentes</a>

				<button class="waves-effect waves-light btn" ng-show="isMyPerfil()"
					ng-click="clickButtonFriendship()"
					style="float: right; margin-left: 10px">{{buttonFriendship}}</button>

				<div id="modal1" class="modal">
					<div class="modal-content"
						ng-repeat="findFriendshipRequest in findFriendshipRequests">
						<div class="row" style="padding: 10px">

							<img
								ng-src="{{findFriendshipRequest.user_x.userProfile.picture}}"
								alt="Profile Picture"
								style="width: 40px; height: 40px; float: left" class="circle">

							<label style="color: black; font-size: 16px">{{findFriendshipRequest.user_x.userProfile.name+"
								"+findFriendshipRequest.user_x.userProfile.lastname+" deseja lhe
								adicionar como amigo"}}</label>

							<button class="waves-effect waves-light btn"
								ng-click="refusefriendship(findFriendshipRequest.id)"
								style="float: right; margin-left: 10px"'>Recusar</button>
							<button class="waves-effect waves-light btn"
								ng-click="acceptingfriendship(findFriendshipRequest.id)"
								style="float: right; margin-left: 10px"'>Aceitar</button>
						</div>
					</div>
				</div>
			</div>
		</div>



		<nav class="nav-wrapper"
			style="margin-top: 20px; margin-bottom: 20px;">
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a ng-click="tab = 0">Sobre</a></li>
				<li><a ng-click="tab = 1">Amigos</a></li>
				<li ng-show="userProfile.id == currentUser.id" ng-click="tab = 2"><a>Hist&oacuterico</a></li>
			</ul>
		</nav>
		<div ng-if="tab == 0">
			<label>Visão Geral</label>
			<div class="divider"></div>
			<div style="padding: 10px"></div>
			<div class="row">
				<div class="col s4">{{"G&ecircnero:
					"+userProfile.gender.name}}</div>
				<div class="col s4">{{"Data de nascimento:
					"+(userProfile.birthDate | date:'dd/MM/yyyy')}}</div>
				<div class="col s4">{{"Natural de
					"+userProfile.birthPlace.name}}</div>
			</div>
			<div class="row">
				<div class="col s4">{{"Celular:
					"+userProfile.userContacts[0].contact}}</div>
				<div class="col s4">{{"Estado Civil:
					"+userProfile.userRelationship.myCivilStatus.name}}</div>
				<div ng-show="userProfile.homeTown" class="col s4">{{"Mora em
					"+userProfile.homeTown.name}}</div>
			</div>
			<div ng-hide="">
				<label>Fam&iacutelia e relacionamentos</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row"
					ng-repeat="relationship in relationships">
					<div class="col s6">Usuário:
						{{relationship.name}}</div>
					<div class="col s6">Grau de Parentesco: {{relationship.kinship}}</div>
					
				</div>
			</div>
			<div ng-hide="userProfile.userAcademicProfile.length == 0">
				<label>Acadêmico</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row"
					ng-repeat="userAcademicProfile in userProfile.userAcademicProfile">
					<div class="col s3">Instituição de ensino:
						{{userAcademicProfile.educationalInstitution.name}}</div>
					<div class="col s3">Curso: {{userAcademicProfile.course}}</div>
					<div class="col s3">Data de Início:
						{{userAcademicProfile.dateStart | date:'dd/MM/yyyy'}}</div>
					<div class="col s3">Data de Término:
						{{userAcademicProfile.dateEnd | date:'dd/MM/yyyy'}}</div>
				</div>
			</div>
			<div ng-hide="userProfile.userProfessionalProfile.length == 0">
				<label>Profissional</label>
				<div class="divider"></div>
				<div style="padding: 10px"></div>
				<div class="row"
					ng-repeat="userProfessionalProfile in userProfile.userProfessionalProfile">
					<div class="col s3">Local de Trabalho:
						{{userProfessionalProfile.workplace.name}}</div>
					<div class="col s3">Cargo: {{userProfessionalProfile.office}}</div>
					<div class="col s3">Data de Início:
						{{userProfessionalProfile.dateStart | date:'dd/MM/yyyy'}}</div>
					<div class="col s3">Data de Término:
						{{userProfessionalProfile.dateEnd | date:'dd/MM/yyyy'}}</div>
				</div>
			</div>
		</div>
		<div ng-if="tab == 1">
			<div class="col s12 row">
				<div class="col s3" ng-repeat="friend in friends">
					<img ng-src="{{friend.userProfile.picture}}" alt="ProfileF Picture"
						style="width: 80px; height: 80px;"> <a
						href="/iface-profile/#/index/{{friend.id}}">{{friend.userProfile.name+"
						"+friend.userProfile.lastname}}</a>
				</div>
			</div>
		</div>
		<div ng-if="tab == 2">
			<div ng-repeat="userLog in userLogs">
				{{userLog.title}} - {{userLog.activity}}
				<div class = "divider"></div>
			</div>
		</div>
	</div>
</div>