<script>
	$(document).ready(function() {
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
</script>

<div class="navbar-fixed">
	<nav>
		<a href="#" class="brand-logo" style="padding-left: 15px">iFace</a>
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a>Sair</a></li>
			</ul>
		</div>
	</nav>
</div>
<div class="containerProfile">
	<div class="profile-screen">
		<div class="col s12">
			<div class="row">
				<img ng-src="{{userProfile.picture}}" alt="Profile Picture"
					style="width: 160px; height: 160px;">
				<h1 class="profileTitle">{{userProfile.name+"
					"+userProfile.lastname}}</h1>
				<button class="waves-effect waves-light btn" ng-click="openEditProfile()" style = "float:right"'>
					Editar Perfil</button>
			</div>
		</div>
		
		<angucomplete-alt id="amigos"
              placeholder="Procurar amigos"
              pause="10"
              selected-object="amigoProcurado"
              remote-url="/iface-profile/service/user_profile/user/name/"
              remote-url-data-field=""
              title-field="name,lastname"
              description-field=""
              image-field="picture"
              input-class="form-control form-control-small"
              minlength="1"
		      match-class="highlight"/>
              
		<nav class="nav-wrapper"
			style="margin-top: 20px; margin-bottom: 20px;">
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a>Sobre</a></li>
				<li><a>Amigos</a></li>
			</ul>
		</nav>
		<label>Visão Geral</label>
		<div class="divider"></div>
		<div style="padding: 10px">
			<div class="row">
				<div class="col s4">{{"G&ecircnero:
					"+userProfile.gender.name}}</div>
				<div class="col s4">{{"Data de nascimento:
					"+(userProfile.birthDate | date:'dd/MM/yyyy')}}</div>
				<div class="col s4">{{"Natural de
					"+userProfile.birthPlace.name}}</div>
			</div>
			<div class="row">
				<div class="col s4">{{"Celular:
					"+userProfile.userContacts[0].contact}}</div>
				<div class="col s4">{{"Estado Civil:
					"+userProfile.userRelationship.myCivilStatus.name}}</div>
				<div ng-show="userProfile.homeTown" class="col s4">{{"Mora em
					"+userProfile.homeTown.name}}</div>
			</div>
			<label>Fam&iacutelia e relacionamentos</label>
			<div class="divider"></div>
			<div style="padding: 10px">
				<div class="row">
					<div class="col s4"></div>
					<div class="col s4"></div>
					<div class="col s4"></div>
				</div>

			</div>
			<label>Acadêmico</label>
			<div class="divider"></div>
			<div style="padding: 10px">
				<div class="row" ng-repeat="userAcademicProfile in userProfile.userAcademicProfile">
					<div class="col s3">Instituição de ensino: {{userAcademicProfile.educationalInstitution.name}}</div>
					<div class="col s3">Curso: {{userAcademicProfile.course}}</div>
					<div class="col s3">Data de Início: {{userAcademicProfile.dateStart | date:'dd/MM/yyyy'}}</div>
					<div class="col s3">Data de Término: {{userAcademicProfile.dateEnd | date:'dd/MM/yyyy'}}</div>
				</div>
			</div>
			<label>Profissional</label>
			<div class="divider"></div>
			<div style="padding: 10px">
				<div class="row" ng-repeat="userProfessionalProfile in userProfile.userProfessionalProfile">
					<div class="col s3">Local de Trabalho: {{userProfessionalProfile.workplace.name}}</div>
					<div class="col s3">Cargo: {{userProfessionalProfile.office}}</div>
					<div class="col s3">Data de Início: {{userProfessionalProfile.dateStart | date:'dd/MM/yyyy'}}</div>
					<div class="col s3">Data de Término: {{userProfessionalProfile.dateEnd | date:'dd/MM/yyyy'}}</div>
				</div>
			</div>
		</div>
	</div>