<html>
<head>
<title>UserCivilStatus</title>
<link rel="stylesheet" type="text/css" href="/iface-profile/css/modal.css" >
</head>
<body>
	<table id="userTable" style="width:100%">
		  <tr>
		  	<th>ID</th>
		  	<th>Usuario</th>
		  	<th>Status Civil</th>
		  	<th>ID_Relacionamento</th>
		    <th>Opcoes</th> 
		  </tr>
	</table>
	
	<div id="modal" class="modal" style="width: 40%; margin-left: 30%">

	  <div class="modal-content">
	    <span class="close">x</span>
	    <h3 align="center" style="width: 100%"><b>Alterar dados do status civil do usuário</b></h3>
	    <form id="myform" action="javascript:" onsubmit="submitForm()">
	    <table style="margin-left: 100px">
	    	
	    	<tr>
				<td>ID_usuario:</td>
		 		<td><input id="usuarioTxt" type="text" name="usuario">
		 		<input id="txtId" type="hidden"/></td>
		 	</tr>
		 	<tr>
				<td>ID_status civil:</td>
		 		<td><input id="myCivilStatusTxt" type="text" name="myCivilStatus"></td>
		 	</tr>
		 	<tr>
				<td>ID_relacionamento:</td>
		 		<td><input id="myRelationshipTxt" type="text" name="myRelationship"></td>
		 	</tr>
		 	<tr>
				<td></td>
		 		<td align="right"><input type="submit" value="Atualizar"/></td>
		 	</tr>
	    </table>
	    </form>
	  </div>
	
	</div>
</body>
</html>


<script src="/iface-profile/js/jquery-3.1.0.min.js"></script>

<script>
$('#modal').hide();

$.ajax({
  type: "GET",
  headers:{
        "Content-Type":"application/json",
        "Accept":"application/json"
  },
  url: "/iface-profile/service/usercivilstatus",
  success: function(data){
	  for(var i=0;i<data.length;i++){
	        var tr="<tr>";
	        var td1="<td align='center'>"+data[i]["id"]+"</td>";
	        var td2="<td align='center'>"+data[i]["usuario"]["name"]+"</td>";
	        var td3="<td align='center'>"+data[i]["myCivilStatus"]["name"]+"</td>";
	        var td4="<td align='center'>"+data[i]["myRelationship"]["id"]+"</td>";
	        var td5="<td align='center'>"
	        	+"<button onclick='abrirModal("+data[i]["id"]+")'>Editar</button>"
	        	+"<button onclick='excluirUsuario("+data[i]["id"]+")'>Excluir</button></td></tr>";

	       $("#userTable").append(tr+td1+td2+td3+td4+td5); 

	    }  
  }
});

function abrirModal(idUsed){
	$.ajax({
		  type: "GET",
		  url: "/iface-profile/service/usercivilstatus/"+idUsed,
		  success: function(data){
			  $('#txtId').val(data["id"]);
	          $('#usuarioTxt').val(data["usuario"]["id"]);
	          $('#myCivilStatusTxt').val(data["myCivilStatus"]["id"]);
	          $('#myRelationshipTxt').val(data["myRelationship"]["id"]);
			 
			  $('#modal').show();
		  }
		});
}

window.onclick = function(event) {
    if (event.target == modal) {
    	$('#modal').hide();
    }
}

$(".close").click(function(){
	$('#modal').hide();
});


function formToJSON(){
    var json = '{"id": '+$("#txtId").val()+',"usuario":{"id":'+$("#usuarioTxt").val()+'},"myCivilStatus":{"id":'+$("#myCivilStatusTxt").val()+'},"myRelationship":{"id":'+$("#myRelationshipTxt").val()+'}}';
    return json;
}


function submitForm(){
	var formData = formToJSON();
	$.ajax({
		  type: "PUT",
		  headers:{
		        "Content-Type":"application/json",
		        "Accept":"application/json"
		  },
		  url: "/iface-profile/service/usercivilstatus",
		  data: formData,
		  success: function(){
			  alert("Alterado com sucesso");
			  document.location = "/iface-profile/partials/list_usercivilstatus.html";
		  },
		  dataType: "json",
		  contentType : "application/json"
		});
}

function excluirUsuario(idUsed){
	if(confirm("Deseja remover o status civil do usuário de id "+idUsed+"?")){
		$.ajax({
			  type: "DELETE",
			  url: "/iface-profile/service/usercivilstatus/"+idUsed,
			  success: function(){
				  alert("Excluido com sucesso");
				  document.location = "/iface-profile/partials/list_usercivilstatus.html";
			  }
		});
	}
}




</script>