<html>
<title>UserAcademicProfile</title>
<body>
	<form method="post" id="myform" action="javascript:" onsubmit="submitForm()" enctype="application/json">
		<table id="userTable">
			<tr>
				<td>User(id):</td>
				<td><input id="userTxt" type="text" name="user"></td>
			</tr>
			<tr>
				<td>Onde você estuda(id):</td>
				<td><input id="linkTxt" type="text" name="link"></td>
			</tr>
			<tr>
				<td>Qual curso você faz:</td>
				<td><input id="collegeTxt" type="text" name="college"></td>
			</tr>
			<tr>
				<td>Data de ingresso (formato dd-MM-yyyy):</td>
				<td><input id="dateStartTxt" type="text" name="dateStart"></td>
			</tr>
			<tr>
				<td>Data de término (formato dd-MM-yyyy):</td>
				<td><input id="dateEndTxt" type="text" name="dateEnd"></td>
			</tr>
			<tr>
				<td></td>
				<td align="right"><input type="submit" value="Enviar"/></td>
			</tr>
		</table>
	</form>
</body>
</html>

<script src="/iface-profile/js/jquery-3.1.0.min.js"></script>

<script>
function formToJSON(){
    var json = '{"user":{"id":'+$("#userTxt").val()+'},"link":{"id":'+$("#linkTxt").val()+'},"college":"'+$("#collegeTxt").val()+'","dateStart":"'+$("#dateStartTxt").val()+'T00:00:00","dateEnd":"'+$("#dateEndTxt").val()+'T00:00:00"}';
    return json;
}

function submitForm(){
	var formData = formToJSON();
	alert(formData);
	$.ajax({
		  type: "POST",
		  headers:{
		        "Content-Type":"application/json",
		        "Accept":"application/json"
		  },
		  url: "/iface-profile/service/useracademicprofile",
		  data: formData,
		  success: function(){alert("Sucesso!")},
		  dataType: "json",
		  contentType : "application/json"
		});
}
</script>