<html>
<head>
<title>Not Friends</title>
<link rel="stylesheet" type="text/css"
	href="/iface-profile/css/modal.css">
</head>
<body>
	<table id="userTable" style="width: 100%">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Username</th>
			<th>Opções</th>
		</tr>
	</table>
</body>
</html>

<script src="/iface-profile/js/jquery-3.1.0.min.js"></script>

<script>
	$
			.ajax({
				type : "GET",
				headers : {
					"Content-Type" : "application/json",
					"Accept" : "application/json"
				},
				url : "/iface-profile/service/friendship/not_friends",
				success : function(data) {
					for (var i = 0; i < data.length; i++) {
						var tr = "<tr>";
						var td1 = "<td align='center'>" + data[i]["id"]
								+ "</td>";
						var td2 = "<td align='center'>" + data[i]["name"]
								+ "</td>";
						var td3 = "<td align='center'>" + data[i]["username"]
								+ "</td>";
						var td4 = "<td align='center'>"
								+ "<button onclick='sendFriendshipRequest("
								+ data[i]["id"]
								+ ")'>Enviar solicitação</button></td></tr>";
						$("#userTable").append(tr + td1 + td2 + td3 + td4);
					}
				}
			});

	function sendFriendshipRequest(receiverId) {
		var friendshipData = '{"user_x":{"id": 1}, "user_y":{"id": '+ receiverId +'}, "approved": false}';
		if (confirm("Deseja enviar uma solicitação de amizade?")) {
			$
					.ajax({
						type : "POST",
						headers : {
							"Content-Type" : "application/json",
							"Accept" : "application/json"
						},
						url : "/iface-profile/service/friendship/",
						data : friendshipData,
						success : function() {
							alert("Solicitação enviada com sucesso.");
							document.location = "/iface-profile/partials/new_friendship.html";
						},
						dataType : "json",
						contentType : "application/json"
					})
		}
	}
</script>