<html>
<title>Relationship</title>
<body>
	<form method="post" id="myform" action="javascript:" onsubmit="submitForm()" enctype="application/json">
		<table id="userTable">
			<tr>
				<td>Usuário remetente(id):</td>
				<td><input id="senderTxt" type="text" name="sender"></td>
			</tr>
			<tr>
				<td>Usuário destinatário(id):</td>
				<td><input id="receiverTxt" type="text" name="receiver"></td>
			</tr>
			<tr>
				<td>Tipo de relacionamento entre os usuários(id):</td>
				<td><input id="relationshipTypeTxt" type="text" name="relationshipType"></td>
			</tr>
			<tr>
				<td></td>
				<td align="right"><input type="submit" value="Enviar"/></td>
			</tr>
		</table>
	</form>
</body>
</html>

<script src="/iface-profile/js/jquery-3.1.0.min.js"></script>

<script>
function formToJSON(){
    var json = '{"sender":{"id":'+$("#senderTxt").val()+'},"receiver":{"id":'+$("#receiverTxt").val()+'},"relationshipType":{"id":'+$("#relationshipTypeTxt").val()+'}}';
    return json;
}

function submitForm(){
	var formData = formToJSON();
	alert(formData);
	$.ajax({
		  type: "POST",
		  headers:{
		        "Content-Type":"application/json",
		        "Accept":"application/json"
		  },
		  url: "/iface-profile/service/relationship",
		  data: formData,
		  success: function(){alert("Sucesso!")},
		  dataType: "json",
		  contentType : "application/json"
		});
}
</script>