<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editor Imagem - Teste</title>
</head>
<body>

<script type="text/javascript" src="http://feather.aviary.com/imaging/v3/editor.js"></script>


<script type='text/javascript'>
var featherEditor = new Aviary.Feather({
	apiKey: '64ab3d8694414ad8938d35a3adaddb71',
	theme: 'dark', 
	tools: 'all',
	appendTo: '',
	onSave: function(imageID, newURL) {
		var img = document.getElementById(imageID);
		img.src = newURL;
		featherEditor.close();
	},
	onError: function(errorObj) {
		alert(errorObj.message);
	}
});
function launchEditor(id, src) {
	featherEditor.launch({
		image: id,
		url: src
	});
	return false;
}
</script>

<div id='injection_site'></div>

<img id='image1' src='http://localhost:8080/iface-profile/app/profile-images/1'/>

<p><input type='button' value='Editar imagem' onclick="return launchEditor('image1', 'http://localhost:8080/iface-profile/app/profile-images/1');" /></p>


</body>
</html>